@charset "UTF-8";

/*Typical Device Breakpoints
----------------------------
Celular: Até 600px
Tablet: 601px-768px
Notebook: 769px-1024px
Desktop: 1025px-1440px
TV: Mais de 1440
----------------------------
*/

@media screen and (min-width: 769px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 120px;
    }

    main {
        width: 45vw;
    }

    footer {
        width: 45vw;
    }
}